<div id="loginPane">
  <img id="logo" src="assets/mivir-logo.png">

  <mat-form-field id="usernameField">
    <mat-label>Username</mat-label>
    <input type="text" matInput id="username" autofocus>
  </mat-form-field>

  <mat-form-field id="passwordField">
    <mat-label>Password</mat-label>
    <input type="password" matInput id="password">
  </mat-form-field>

  <div id="buttonGroup">
    <button id="loginClearButton" mat-raised-button >Clear</button>
    <button id="loginButton" mat-raised-button color="primary">Login</button>
  </div>

</div>
